<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Web</td><td>Test147_FooterLinks_CheckFooterLinksOnDifferentPages.tc147_FooterLinks_CheckFooterLinksOnDifferentPages(java.util.Hashtable)[pri:0, instance:com.scripts.regression.Test147_FooterLinks_CheckFooterLinksOnDifferentPages@43f88cba]<br/></td></tr>
</table>
