<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7091a2">  <td>21/03/05 08:15:22</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setup(org.testng.ITestContext)[pri:0, instance:com.scripts.regression.Test147_FooterLinks_CheckFooterLinksOnDifferentPages@43f88cba]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916965743</td>   <td></td> </tr>
</table>
