<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Web</td><td>Test1_LoginLogout_DigitalOnlyCustomer.tc1_LoginLogout_DigitalOnlyCustomer(java.util.Hashtable)[pri:0, instance:com.scripts.regression.Test1_LoginLogout_DigitalOnlyCustomer@6486fe7b]<br/></td></tr>
</table>
