<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f66770">  <td>21/05/12 15:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setsuitename(org.testng.ITestContext)[pri:0, instance:com.scripts.regression.Test1_LoginLogout_DigitalOnlyCustomer@6486fe7b]">&gt;&gt;setsuitename</td> 
<td>&nbsp;</td>  <td>main@1950158148</td>   <td></td> </tr>
<tr bgcolor="f66770">  <td>21/05/12 15:44:16</td>   <td>-3206</td> <td title="&gt;&gt;BaseTest.setup(org.testng.ITestContext)[pri:0, instance:com.scripts.regression.Test1_LoginLogout_DigitalOnlyCustomer@6486fe7b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1950158148</td>   <td></td> </tr>
<tr bgcolor="70b3ca">  <td>21/05/12 15:44:19</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1_LoginLogout_DigitalOnlyCustomer.tc1_LoginLogout_DigitalOnlyCustomer(java.util.Hashtable)[pri:0, instance:com.scripts.regression.Test1_LoginLogout_DigitalOnlyCustomer@6486fe7b]">tc1_LoginLogout_DigitalOnlyCustomer</td> 
  <td>main@1950158148</td>   <td></td> </tr>
<tr bgcolor="70b3ca">  <td>21/05/12 15:45:24</td>   <td>65530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1_LoginLogout_DigitalOnlyCustomer.tearDown(org.testng.ITestResult)[pri:0, instance:com.scripts.regression.Test1_LoginLogout_DigitalOnlyCustomer@6486fe7b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1950158148</td>   <td></td> </tr>
</table>
