<h2>Reporter output</h2><table><tr><td>Step >> Web environment initialize successful</td></tr>
<tr><td>Step >> Get URL 'https://qa01-gros-cms.rankgrouptech.net/'</td></tr>
<tr><td>Step >> Verify Grosvenor Casinos logo displayed.</td></tr>
<tr><td>Step >> Click 'Continue' Cookie button</td></tr>
<tr><td>Step >> Click 'Login' button</td></tr>
<tr><td>Step >> Verify 'Login' popup displayed</td></tr>
<tr><td>Step >> Set username || Input Value : cmsdig0403lds</td></tr>
<tr><td>Step >> Set password || Input Value : Test1234</td></tr>
<tr><td>Step >> Click 'Login' button</td></tr>
<tr><td>Step >> Verify Grosvenor Casinos logo displayed.</td></tr>
<tr><td>Step >> Click 'My Account' link</td></tr>
<tr><td>Step >> Verify user logged in successfully.|| Input Value : cmsdig0403lds</td></tr>
<tr><td>Step >> Web environment teardown successful</td></tr>
</table>